/*
Azul claro : #8ecae6
Azul medio : #219ebc
Azul oscuro : #023047
Amarillo : #ffb703
Naranja : #fb8500

celeste #25BFD7
verde #91CA63
morado #474D9B
rosa #ED248E
naranja #F6911D
azul #4898D3
azul oscuro #0E3256

Dracula:
Background		#282a36	
Current Line		#44475a	
Foreground		#f8f8f2	
Comment		#6272a4	
Cyan		#8be9fd	
Green		#50fa7b	
Orange		#ffb86c	
Pink		#ff79c6	
Purple		#bd93f9
Red		#ff5555	255 
Yellow		#f1fa8c	


*/

html {
  background-color:#282a36;
}

a {
  text-decoration: none;
  color: #f8f8f2;
}

nav.navbar.navbar-expand.navbar-light {
  padding: 0;
}

.navbar {
  display: flex;
  flex-direction: row;
  background-color: #6272A4;
  color: #F8F8F2;
}
.navbar h5 {
  color: #F8F8F2;
}
.navbar-collapse.collapse {
  display: flex;
  justify-content: space-evenly;
}
.navbar img {
  width: 100px;
}

.homepage {
  background-color:#282a36;
  color: #f8f8f2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 100px;
  gap: 40px;
}

.homepage a {
  text-decoration: none;
  color: #f8f8f2; 
}

.carousel {
  width: 300px;
  height: 400px;
  overflow: hidden;
}

.carousel-img {
  width: 300px;
  height: 400px;
  object-fit: cover;
  overflow: hidden;
}

.homepage-btns {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.homepage-btns button {
  padding: 20px;
  border: none;
  transition: transform 0.1s ease;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

}

.homepage-btns button:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.series-list-container {
  background-color: #282a36;
  padding: 50px;
}

.mylist-container {
  display: flex;
  background-color: #282a36;
  height: 100%;
}

.series-list-filter {
  padding: 50px 50px;
  color: white;
  height: 100%;
  width: 100%;
}

.series-list {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
  padding: 50px 0;
  background-color: #282a36;
}

.search-list {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
  padding: 50px 50px;
  background-color: #282a36;
}

.series-card.card {
  height: 550px;
}

.series-card {
  border: 2px solid black;
  max-width: 300px;
  overflow: hidden;
  white-space: nowrap;
  text-align: center;
  text-decoration: none;
  transition: transform 0.3s ease;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.card-body {
  background-color: #6272a4;
}

.card-text {
  color: #f8f8f2;
  text-decoration: none;
}

.card-title.h5 {
  color: #f8f8f2;
  text-decoration: none;
}

.series-card:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}
.series-card img {
  width: 300px;
  height: 400px;
  object-fit: cover;
  overflow: hidden;
}

.paginado {
  display: flex;
  gap: 10px;
  padding: 10px;
  color: white;
  justify-content: center;
}

.paginado button {
  background-color: #8be9fd;
  border: none;
  color: #282a36
}

.team-info-btns {
  display: flex;
  flex-direction: column;
  width: 200px;
  gap: 10px;
}

.about {
  background-color: #282a36;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 20px;
}
.team-info-card.card {
  background-color: #44475a;
  color: #f8f8f2;
}

.sidebar-list-watchlists button {
  transition: transform 0.1s ease;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 200px;
}
.sidebar-list-watchlists button:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}
.sidebar-list-btns.btn-group-vertical {
  gap: 10px;
}
.sidebar-list button {
  width: 200px;
}

.sidebar {
  background-color: #44475a;
  color: #f8f8f2;
  display: flex;
  flex-direction: column;
  align-items: center;
  object-fit: cover;
  position: relative;
  justify-content: flex-start;
  padding: 10px;
  gap: 50px;
}

.sidebar-list {
  display: flex;
  flex-direction: column;
  width: 200px;
  gap: 10px;
}

.sidebar-body {
  height: 100%;
  width: 100%;
  display: flex;
  width: fit-content;
}
.series-details {
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: #282a36;
  color: white;
  width: 100vw;
  align-items: center;
}

.series-details img {
  height: 300px;
  width: 200px;
  align-items: center;
}

.details-main-info {
  display: flex;
  width: min-content;
  padding-top: 40px;
  gap: 20px;
}

.details-main-info-genres {
  display: flex;
  flex-wrap: wrap;
}

.details-main-info-genres h6 {
  border: 2px solid black;
  border-radius: 5px;
  padding: 5px;
  background-color: #bd93f9;
  color: black;
  height: min-content;
  width: min-content;
  overflow: hidden;
  text-align: center;
  max-height: 30px;
}
.details-general-info {
  padding: 20px;
  max-width: 500px;
}

.add-to-list-form {
  display: flex;
  padding-bottom: 40px;
  gap: 10px;
}

.add-to-list-form button {
  transition: transform 0.1s ease;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 120px;
}

.add-to-list-form button:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.back-btns {
  display: flex;
  gap: 20px;
  justify-content: flex-end;
  padding-top: 30px;
}

.error-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 100px;
  background-color: #282a36;
}

.error-page img {
  width: 500px;
}

.error-page button {
  margin: 100px;
  padding: 20px;
  background-color: #ff79c6	;
  color: black;
  border: none
}