/*
Azul claro : #8ecae6
Azul medio : #219ebc
Azul oscuro : #023047
Amarillo : #ffb703
Naranja : #fb8500
*/

body {
background-color: #023047 ;
color: aliceblue;
}


a {
  text-decoration: none;
color: aliceblue;

}

.navbar {
  display: flex;
  border: 2px solid black;
  align-items: center;
  justify-content: space-around;
  background-color:#8ecae6 ;
}

.navbar img {
  width: 100px;
}

.series-list-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.sidebar-body {
  display: flex;
}

.series-list {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
  padding-bottom: 50px;
}

.series-card {
  border: 2px solid black;
}

.series-card img {
  max-width: 300px;
}
